{% extends "/partials/_base.html" %}

{% block title %}- Edit Todo{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1 class="display-3">Edit Todo</h1>
      <div class="card shadow">
        <form action="{{ url_for('todos.edit_todo', todo_id = todo.id) }}" method="POST">
          <input type="hidden" name="todo_id" value="{{ todo.id }}" />
          <input type="hidden" name="user_id" value="{{ session.user_id }}" />
          <div class="card-body">
            <div class="mb-3">
              <label for="title" class="form-label">Edit title:</label>
              <input
                type="text"
                name="title"
                id="title"
                class="form-control"
                value="{{ todo.title }}"
              />
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == 'title' %}
                    <span class="form-text text-danger">{{ message }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description:</label>
              <textarea
                name="description"
                id="description"
                class="form-control"
              >{{ todo.description }}</textarea>
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == 'description' %}
                    <span class="form-text text-danger">{{ message }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="1"
                  name="is_complete"
                  id="complete"
                  {{ 'checked' if todo.is_complete else '' }}
                />
                <label class="form-check-label" for="complete">
                  Complete
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="0"
                  name="is_complete"
                  id="not-complete"
                  {{ 'checked' if not todo.is_complete else '' }}
                />
                <label class="form-check-label" for="not-complete">
                  Not complete
                </label>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end align-items-center gap-2">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Edit Todo</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endwith %}

{% endblock content %}